version: '3.9'

services:
    mongo:
        image: mongo:7
        container_name: mongo-db
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
            MONGO_INITDB_DATABASE: notes
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongo-data:/data/db
        networks:
            - localnet

    note-app:
        build: .
        container_name: note-app
        ports:
            - "8080:8080"
        environment:
            - MONGO_HOST=mongo
            - MONGO_PORT=27017
            - MONGO_DATABASE=notes
            - MONGO_USERNAME=root
            - MONGO_PASSWORD=root
            - MONGO_AUTHENTICATION_DATABASE=admin
        depends_on:
            - mongo
        restart: unless-stopped
        networks:
            - localnet


networks:
    localnet:
        name: localnet
        driver: bridge

volumes:
  mongo-data: