version: '3.9'

services:
    mongo:
        image: mongo:7
        container_name: mongo-db
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: root
            MONGO_INITDB_DATABASE: notes
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - mongo-data:/data/db

volumes:
  mongo-data: